body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
    background-image: url('https://pixyshare.in/Aesthetic/hus.jpg'); /* Add your background image URL here */
    background-size: cover;
    backdrop-filter: blur(10px); /* Apply blur effect to the background */
}
.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 512px;
    border: none; /* Remove border */
    margin: 20px;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Translucent black background */
    color: #fff; /* White text color for better contrast */
    border-radius: 10px; /* Add border radius */
}

.frame h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.image-frame {
    width: 100%;
    max-width: 512px;
    max-height: 512px; /* Set a maximum height */
    margin-bottom: 20px;
    border: none;
    overflow: hidden; /* Hide any overflow */
}

.image-frame img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Maintain aspect ratio and fit within the container */
}


button {
    width: 100%;
    max-width: 512px;
    padding: 10px;
    font-size: 16px;
    background-color: #701cef;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #45a049;
}

.content {
    width: 100%;
    max-width: 512px;
    text-align: center;
}

.content h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

@media (min-width: 768px) {
    .frame {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .frame h2 {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .image-frame {
        width: 40%;
        height: auto;
        padding-bottom: 0;
    }

    .content {
        width: 55%;
        text-align: left;
    }

    button {
        width: auto;
        align-self: flex-start;
    }
}

@media (min-width: 1024px) {
    .frame {
        max-width: 800px;
    }

    .image-frame {
        width: 35%;
    }

    .content {
        width: 60%;
    }
}

.footnote {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #ccc;
}
