body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Disable horizontal scrolling for the whole webpage */
    background: url('https://pixyshare.in/Gallary/image7.JPG') fixed;
    background-size: cover;
    backdrop-filter: blur(10px); /* Adjust the blur intensity as needed */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the page takes at least the height of the viewport */
}

header {
    position: fixed;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.361);
    color: rgb(146, 38, 189);
    padding: 10px;
    text-align: center;
    z-index: 1000;
    top: 0;
    overflow: auto; /* Enable vertical scrolling for the top bar */
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.5;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: rgba(166, 166, 166, 0.383);
    padding: 10px;
    text-align: center;
    margin-top: 60px;
}

nav a {
    color: rgb(173, 59, 239);
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    text-decoration: none;
    background-color: rgba(37, 0, 50, 0.751);
    border-radius: 16px;
}

section {
    flex: 1;
    padding-top: 80px;
    padding-right: 20px;
    padding-left: 20px;
}

.image-row {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    white-space: nowrap;
    margin-top: -10px; /* Adjusted margin to eliminate the gap */
}

.image-row img {
    width: 256px;
    height: 256px;
    margin-right: 10px;
}

.big-image-holder {
    position: relative;
    width: 410px;
    height: 205px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.487); /* Box shadow added */
}

.image-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.big-image-holder:hover .image-navigation {
    opacity: 1;
}
.big-image-holder:hover,

.nav-btn {
    font-size: 24px;
    color: #fff;
    background-color: rgba(202, 121, 239, 0.5);
    padding: 10px;
    cursor: pointer;
    
    transition: background-color 0.3s ease-in-out;
}

.nav-btn:hover {
    background-color: rgba(126, 7, 122, 0.8);
}


.content {
    margin-top: 20px;
    text-align: center;
    color: aliceblue;
}

footer {
    background-color: rgba(153, 18, 198, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}

footer a {
    color: white;
    background-color: #8f2ede87;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: rgba(255, 255, 255, 0.5);
    
}

@media only screen and (max-width: 480px) {
    nav {
        flex-direction: row;
        justify-content: center;
        margin-top: 40px;
    }

    nav a {
        margin: 10px;
        flex-grow: 1;
    }

    section {
        padding-top: 120px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .image-row {
        padding: 10px 0;
        margin-right: -20px; /* Adjusted margin for small screens */
    }

    header h1 {
        font-size: 1.2rem;
        line-height: 1.2;
    }
}

.image-holder {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(110, 110, 110, 0.1);
    display: inline-block;
}

/* Ensure smooth transition when images loop */
.image-holder::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px; /* Adjust as needed */
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #000 50%);
    left: 100%;
}

/* Reset margin for the first image after each loop */
.image-holder:nth-child(4n+1) {
    margin-left: 0;
}

/* Adjust margin to control the gap between the first and last image */
.image-holder {
    margin-left: 20px;
}

/* Reset margin for the last image after each loop */
.image-holder:last-child {
    margin-right: 0;
}
