* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('https://github.com/OCTEXA/OCTEXA.github.io/blob/main/Aesthetic/flo.jpg?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(29, 43, 48, 0.8); /* Updated color */
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

nav ul li {
    margin: 0 2rem; /* Increased margin for more spacing */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

main {
    padding-top: 80px; /* Adjust based on header height */
    color: #fff; /* Ensuring text color is readable */
}

.image-grid {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.image-container {
    display: inline-block;
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.image-item {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-right: 10px;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    position: relative;
}

.carousel-button {
    font-size: 2rem;
    background: rgba(29, 43, 48, 0.8); /* Updated color */
    backdrop-filter: blur(10px);
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background 0.3s;
}

.carousel-button.prev {
    left: 10px; /* Close to the carousel container */
}

.carousel-button.next {
    right: 10px; /* Close to the carousel container */
}

.carousel-button:hover {
    background: rgba(29, 43, 48, 0.6); /* Updated hover color */
}

.carousel-container {
    width: 512px;
    height: 356px;
    overflow: hidden;
    position: relative;
}

.carousel-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    transition: opacity 1s ease-in-out; /* Smooth transition */
}

.gallery-heading {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    color: #fff;
}

.gallery-description {
    text-align: center;
    margin: 10px 0 30px;
    font-size: 1.2rem;
    color: #fff;
}

footer {
    background-color: rgba(29, 43, 48, 0.8); /* Updated color */
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.footer-description {
    margin: 10px 0;
}

.footer-buttons button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.footer-buttons button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(29, 43, 48, 0.8);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.back-to-top:hover {
    background: rgba(29, 43, 48, 0.6);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
    .image-item {
        width: 150px;
        height: 150px;
    }
}